<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    
    <!-- IMPORT-SQL - Import_DB -->
    <add key="ConnectionString_PRD" value="user id=zomet_dev;password=123456;initial catalog=Import_DB;data source=IMPORT-SQL; Connect Timeout=45;" />
    <!-- DEV - import_dev_db -->
    <add key="ConnectionString_DEV1" value="user id=zomet_dev;password=123456;initial catalog=import_db_2008;data source=SQL2008-DEV;Connect Timeout=45;" />
    <!-- DEV - import_dev -->
    <add key="ConnectionString" value="user id=zomet_dev;password=123456;initial catalog=import_dev_db;data source=SQL2008-DEV;Connect Timeout=45;" />
    
    
    <!-- fc-sql-dwhp-->
    <add key="AttachmentConnectionString" value="user id=zomet_dev;password=123456;initial catalog=Attachment;data source=EXPORT-SQL;Connect Timeout=30;" />
    <!--SQL2000-DEV-->
    <add key="AttachmentConnectionString555" value="user id=zomet_dev;password=123456;initial catalog=Attachment;data source=SQL2008-DEV;Connect Timeout=30;" />
    
    
    <!--<add key="AttachmentPath" value="C:\AttachmentScan\" />
    <add key="AttachmentSplitPath" value="C:\AttachmentScan\Split\" />-->
    <!--<add key="AttachmentJARPath" value="C:\joinPDF\temp\PDF.jar" />-->
    
    
    
    <!--<add key="AttachmentJARPath" value="C:\AttachmentScan\Version\JAR\PDF.jar" />-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>